# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
dist-ssr/
*.local

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Environment files
.env
.env.local
.env.*.local

# Temporary media & brain
.tempmediaStorage/
.system_generated/

.vercel
